body{
    float:left; 
    border-style: dashed;
        }
        
#introQuotes{
    text-size-adjust: 8px;
        }

h2 {
    text-align: center;
}        
#quote {
    color: blanchedalmond;
    background-color: blueviolet;
    display: inline;
    padding: 10px;
    white-space: pre-line;
    text-align: center;
    margin-left: 5px; 
}

#dove {
    max-width: 5cm;
    text-align: center;
}