:root {
    --daily-organiser-yellow: #FFE74C;
    --daily-organiser-red: #FF5964;
    --daily-organiser-white: #ffffff;
    --daily-organiser-dark-blue: #38618C;
    --daily-organiser-light-blue: #35A7FF;
    --daily-organiser-black: #000;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

.title{
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    background-color:var(--daily-organiser-yellow);
    color:var(--daily-organiser-dark-blue);
}

.main{
    display: grid;
    grid-template-columns: 75% 25%;
  }

.textarea {
    background: transparent;
    border: none;
    color: var(--daily-organiser-black);
    border-left: 1px solid var(--daily-organiser-black);
    padding: 10px;
  }

.calendar{
    background-color: var(--daily-organiser-light-blue);
    display:flex;
    flex-direction: column;
  } 

 .timeblock{
    display: flex;
    border:1px solid var(--daily-organiser-black);
    background-color: var(--daily-organiser-white);
    color: var(--daily-organiser-black);
    justify-content: center;
    align-items: center;
    width: 100px;
}

 .description {
    white-space: pre-wrap;
    padding: 5px;
    display:flex;
    justify-content: flex-start;
    flex:1;
    border: 1px var(--daily-organiser-black) dotted;
  }
  .saveBtn {
    border-left: 1px solid var(--daily-organiser-black);
    border-radius: 5px;
    background-color: var(--daily-organiser-light-blue);
    color: var(--daily-organiser-white);
    width:100px;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  .time-block {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
  }
  

  
  
  /* Example of a past time block. The "past" class adds a gray background color. */
  .past {
    background-color: #38618C;
    color: var(--daily-organiser-white);
  }
  
  
  /* Example of a a present time block. The "present" class adds a red background color. */
  .present {
    background-color: var(--daily-organiser-red);
    color: var(--daily-organiser-white);
  }
  
  /* Example of a future time block. The "future" class adds a green background color. */
  .future {
    background-color: var(--daily-organiser-light-blue);
    color: var(--daily-organiser-white);
  }
  
 
  .right-panel{
    display: flex;
    flex-direction: column;
    justify-content: right;
    background-color:var(--daily-organiser-white);
  }


  .weather{
    border: 1px var(--daily-organiser-black) dotted;
    padding: 10px;
  }

.todo {
    border: 1px var(--daily-organiser-black) dotted;
    padding: 10px;
}

  .news{
    border: 1px var(--daily-organiser-black) dotted;
    padding: 10px;
  }

  .word-containter{
    border: 1px var(--daily-organiser-black) dotted;
    padding: 10px;
  }

  .quote-container{
    border: 1px var(--daily-organiser-black) dotted;
    padding: 10px;
  }